
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{

    --light : #2f3046;
    --dark : #14152a;
    --material : #3a3fc5;
    --text : #cccfd7;
    --red: #a15250;
    --green : #3f604d;
}

body{

    width: 100%;
    height: 100vh;
    background-color: var(--light);
    font-family: 'Open Sans';
    color: white;
    user-select: none;
}

::-webkit-scrollbar{
    display: none;
}

.sideBar{
    width: 16%;
    height: 100vh;
    background-color: var(--dark);

}

#appName1{
    width: 76%;
    display: block;
    margin: auto;
    padding-top: 13%;
}

#enterAmtFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}


.menuFlex{
    text-align: center;
    display: flex;
    margin: auto;
    cursor: pointer;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: red; */
    padding-top: 4%;
    padding-bottom: 3%;
    width: 70%;
    border-radius: 10px;
    
}

.popUp{
    width: 28%;
    position: fixed;
    height: 65vh;
    top: 0%;
    background-color: var(--light);
    top: 50%;
    left: 50%;
    margin-top: -18%;
    /* Negative half of height. */
    margin-left: -20vh;
    /* Negative half of width. */
    border-radius: 15px;
    border: solid 2px var(--material);
    box-shadow: 5px 5px 5px black;
   
}

#shareName{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    color: #ffb444;
}

#shareName{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    color: #ffb444;
}


#currAmtEdit{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    border-radius: 10px;
    padding-bottom:2.5%;
    font-size: 25px;
    
    width: fit-content;
    background-color: var(--material);
}


.fa-minus{
    padding-right: -8%;
    color:#ff5454;
    font-size: 30px;
   
}

.fa-plus{
    padding-left: 8%;
    color: #03ff46;
    font-size: 30px;
}

.fa-minus:hover{
    color:#ff5454;
}

.fa-plus:hover{
    color:#03ff46;
}
.fa-minus:active{
    color:white;
}

.fa-plus:active{
    color:white;
}

#amountToBeGet{
    width: fit-content;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 2% 9%;
    background-color: var(--material);
    border-radius: 13px;
}

#sellShare{

    width: fit-content;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 2% 19%;
    background-color: rgb(243, 114, 9);
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}



#closeBox1{

    width: fit-content;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 2% 13%;
    background-color: red;
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

#sellShare:hover{
    box-shadow:  none;
}
#closeBox1:hover{
    box-shadow:  none;
}


p, i{
    color: var(--text);
}

i{
    font-size: 20px;
}

p{
    font-size: 18px;
    margin-left: 10%;
    
}

#menus{

    /* background-color: red; */
    height: 70vh;
    padding: 13% 0% 0% 0%;
}

#pf1{
    background-color: var(--material);

}

.menuFlex:hover{
    background-color: var(--light);
}


#stockBox {
    position: fixed;
    height: 100vh;
    width: 85%;
    top: 0%;
    margin-left: 16%;
    overflow-y: scroll;
    /* background-color: red; */

}

td{

    background-color: var(--dark);
    text-align: center;

}




thead{
    background-color: var(--material);
    padding: 2% 1%;
}

.action{
    width: 13%;
    padding: 0% 2%;
}

.sellBtn{
    width: 100%;
    height: 4vh;
    border-radius: 8px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.sellBtn:hover{
    opacity: 0.9;
}

.totalBuyPrice{
    width: 12%;
}
.totalCurrPrice{
    width: 12%;
}

#pfHeadText3{
  width: 7%;
}

#pfHeadText6{
    width: 10%;
}
#pfHeadText7{
    width: 10%;
}

#pfHeadText2{
    width: 13%;
}

.stockTicker{
    padding: 2% 0%;
}

#pfHeadText10{
    width: 7%;
}

i{
    cursor: pointer;
}

#amtToSell{
    
    text-align: center;
    margin-right: 9%;
    margin-top: 6%;
}

#sellBox{
    display: none;
}

