@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{

    --light : #2f3046;
    --dark : #14152a;
    --material : #3a3fc5;
    --text : #cccfd7;
    --red: #ff5454;
    --green : #03ff46;
}

body{

    width: 100%;
    height: 100vh;
    background-color: var(--light);
    font-family: 'Open Sans';
    color: white;
    user-select: none;
    visibility: hidden;
}

::-webkit-scrollbar{
    display: none;
}

.fa-arrow-left{
    margin-right: 33%;
    margin-left: 2%;
}



i:hover{
    color: var(--text);
}


i{
    font-size: 30px;
    cursor: pointer;
    margin-top: 0.6%;
}

.fa-download{
    margin-left: 2%;
    margin-right: 2%;
}


img{
    width: 15%;
    margin-right: 32%;

}

.topBar{
    background-color: var(--dark);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
}

.stockFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#stockData{
    background-color: var(--dark);
    width: 49%;
    height: 87vh;
    border-radius: 13px;
    margin-top: 0.6%;
    margin-right: 0.33%;
    overflow-y: scroll;
}
#stockAction{
    background-color: var(--dark);
    width: 49%;
    height: 87vh;
    border-radius: 13px;
    margin-top: 0.6%;
    margin-left: 0.33%;
}

#stockName{
    font-size: 26px;
    margin-left: 5%;
    margin-top: 3.8%;
    color: #ffb444;
}

.stockFlex2{
    display: flex;
}

#tNse{
    
    border: solid 2px var(--red);
    width: fit-content;
    padding: 5% 30% 10%  30%;
    font-size: 13px;
    border-radius: 6px;
}
#tNse0{
    
    margin-left: 3%;
    margin-top: 4.6%;
}

#stockTicker{
    margin-left: 5%;
    margin-top: 1.3%;
    font-size: 18px;
    opacity: 0.7;
}

.fa-bookmark{
  padding-right: 2%;
    
}

.fa-newspaper{
    font-size: 32px;
}

#currStockPrice{
    font-size: 27px;
    margin-left: 5%;
    margin-top: 1.6%;
}

#currChanges{
    margin-left: 4.5%;
    margin-top: 0.8%;
}

canvas{
    margin-left: 3.5%;
    margin-top: 5%;
}

#openClose, #buySell{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    
}

#stockOpen, #todayLow, #a52WeekLow, #currVol, #Buy{
    background-color: var(--material);
    padding: 1.5% 4%;
    border-radius: 10px;
    margin-right: 5%;
  
}

#stockPrevClose, #todayHigh, #a52WeekHigh, #Sell{
    background-color: var(--material);
    padding: 1.5% 4%;
    border-radius: 10px;
    margin-left: 5%;
}

#todayLow, #a52WeekLow, #Sell{
    background-color: red;
}
#todayHigh, #a52WeekHigh, #Buy{
    background-color:green;
}


#currVol{
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 6%;
}

#Buy{
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
   padding-top: 1.7vh;
   padding-bottom: 1.7vh;
}

#Sell{
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    padding-top: 1.7vh;
   padding-bottom: 1.7vh;
}

#Buy:hover, #Sell:hover{
    box-shadow: none;
    opacity: 0.95;
}

#stockInd, #stockWeb{
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
}

#stockWeb{
    display: block;
    margin: auto;
    color: #ffb444;
    margin-top: 3%;
}

#stockNameAgain{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 3%;
    color: #44ffb1;
}

#companySum, #companyAdd, #companyCon{
    margin-left: 5%;
    width: 84%;
    margin-top: 3%;
    line-height: 30px;
   
}

#companyAdd{
    color: #44ffb1;
}

#companyCon{
    margin-top: 0.6%;
    color: #44ffb1;
    padding-bottom: 20px;
}

#enterAmtFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.popUp{
    width: 28%;
    position: fixed;
    height: 67vh;
    top: 0%;
    background-color: var(--light);
    top: 50%;
    left: 50%;
    margin-top: -18%;
    /* Negative half of height. */
    margin-left: -30vh;
    /* Negative half of width. */
    border-radius: 15px;
    border: solid 2px var(--material);
    box-shadow: 5px 5px 5px black;
}

#shareName{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    color: #ffb444;
}

select{
    width: 70%;
    text-align: center;
    height: 6vh;
    background-color: var(--dark);
    color: white;
    font-family: 'Open Sans';
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 7%;
    font-size: 20px;
    outline: none;
    border: solid 2px var(--material);
}

#currAmtEdit{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    border-radius: 10px;
    padding-bottom:2.5%;
    font-size: 25px;
    
    width: fit-content;
    background-color: var(--material);
}

.fa-minus{
    padding-right: 5%;
    color:#ff5454;
}

.fa-plus{
    padding-left: 5%;
    color: #03ff46;
}

.fa-minus:hover{
    color:#ff5454;
}

.fa-plus:hover{
    color:#03ff46;
}
.fa-minus:active{
    color:white;
}

.fa-plus:active{
    color:white;
}

#amountToBePaid{
    width: fit-content;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 2% 9%;
    background-color: var(--material);
    border-radius: 13px;
}

#buyShare{

    width: fit-content;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 2% 19%;
    background-color: green;
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

#closeBox1{

    width: fit-content;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 2% 13%;
    background-color: red;
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

#buyShare:hover{
    box-shadow:  none;
}
#closeBox1:hover{
    box-shadow:  none;
}

#buyBox{
    display: none;
}